<html>
 <head>
 	<title>RPSLSpock!</title>
 	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
 	<script src="/javascript/lib/Player.js"></script>
  <script src="/javascript/lib/Game.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
  <body>
    <div class="h-container">
      <h1>R-P-S-L-Spock!</h1>
      <h2><p>Rock - Paper - Scissors - Lizard - Spock</p></h2>
    </div>

    <button onclick="myFunction()">New Player</button>

      <p id="welcome"></p>

    <div class='choices'>

      <div class="line-one">
        <img src="images/rock.png" data-pick='rock'>
      </div>

      <div class="line-two">
        <img src="images/paper.png" id="middle-one" data-pick='paper'>
        <img src="images/scissors.png" id="middle-two" data-pick='scissors'>
      </div>

        <div class="line-three">
      <img src="images/lizard.png" id="low-one" data-pick='lizard'>
      <img src="images/spock.png" id="low-two" data-pick='spock'>
      </div>

    </div>

    <ul id="results">
    </ul>
    
    <script>
    function myFunction() {
        var player = prompt("Player name");
        
        if (player != null) {
            document.getElementById("welcome").innerHTML =
            "Hello " + player + "! I am RZ967 and I'm your opponent";
        }
    
      $(document).ready(function() {

        var user = new Player(player);
        var computer = new Player('RZ967');
        var game = new Game(user, computer)

        $('.choices img').on('click', function(){

          user.picks($(this).data('pick'));
          computer.picks(game.sample());

          $('#results').prepend('<li>' + game.winningMessage() + '</li>');
        })
      })
    }
    </script>
  </body>
</html>

