body {
  font-family: "pixel";
}

.main{
  background: rgba(190, 140, 209, 0.3);
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin-left: 33%;
}
.game{
  margin-left: 3%;
}

h1 {
  font-size: 50px;
  margin-top: 5px;
  color: blue;
  margin-bottom: -5px;
}

.line-one {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.line-two {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.line-three {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

#middle-one {
  margin-right: 55px;
}

#middle-two {
  margin-left: 55px;
}

#low-one {
  margin-right: 10px;
}

#low-two {
  margin-left: 10px;
}

.choices img {
  width: 10%;
  cursor: pointer;
  opacity: 0.5;
  transition: 1s all ease;
}

.choices img:hover {
  opacity: 1;
}

h2, h3 {
  text-transform: capitalize;
  color: rgb(184, 19, 184);
}

h5 {
  padding: 15px;
}

#results {
  list-style: none;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#results li {
  background: rgb(155, 194, 209);
  color: rgb(184, 19, 184);
  font-size: 35px;
  border-radius: 8px;
  padding: 5px;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 10px;
}

#welcome {
  background: rgb(155, 194, 209);
  color: rgb(184, 19, 184);
  font-size: 35px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 2px;
  position: absolute;
  width: 25%;
  }

button {
  font-family: "pixel";
  font-size: 45px;
  background-color: blue;
  color: white;
  width: 4em;
}

@font-face {
  font-family: "pixel";
  src: url("/pixel.ttf");
}

#dialogoverlay{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;
}

#dialogbox{
  display: none;
  position: fixed;
  background: #000;
  border-radius:7px; 
  width:550px;
  z-index: 10;
  font-family: "pixel";
}

#dialogbox > div{ 
  background:#FFF;
  margin:8px; 
}

#dialogbox > div > #dialogboxhead { 
  background: rgb(184, 19, 184);
  font-size:40px; padding:10px;
  color:white; 
}

#dialogbox > div > #dialogboxbody{
  background: black;
  font-size:40px; 
  padding:20px; 
  color:#FFF; 
}
#dialogbox > div > #dialogboxfoot{ 
  background: rgb(184, 19, 184);
  padding:10px; 
  text-align:right; 
}