h1 {
  font-family: "pixel";
  font-size: 50px;
  text-align: center;
  color: blue;
}

.line-one {
  display: flex;
  justify-content: center;
}

.line-two {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.line-three {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

#middle-one {
  margin-right: 60px;
}

#middle-two {
  margin-left: 60px;
}

#low-one {
  margin-right: 10px;
}

#low-two {
  margin-left: 10px;
}

.choices img {
  width: 10%;
  cursor: pointer;
  opacity: 0.5;
  transition: 1s all ease;
}

.choices img:hover {
  opacity: 1;
}

h2, h3 {
  font-family: "pixel";
  text-transform: capitalize;
  text-align: center;
}

#results {
  list-style: none;
}

#results li {
  background: #999;
  color: blue;
  font-size: 35px;
  border-radius: 8px;
  padding: 5px;
  width: 80%;
  margin-bottom: 10px;
  font-family: "pixel"
}

@font-face {
  font-family: "pixel";
  src: url("/pixel.ttf");
}